<ng-container *ngIf="loadData">
<div id="formEdit">
  <form [formGroup]="formData">
    <ul>
      <li>
        <mat-form-field>
          <input type="text" matInput formControlName="name" placeholder="Nombre">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <input matInput formControlName="releaseDate" [matDatepicker]="picker" placeholder="Fecha publicación">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <textarea matInput placeholder="descripción" formControlName="description"></textarea>
        </mat-form-field>
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="save()">Guardar</button>
  </form>
</div>

</ng-container>